/* Estilos específicos para la página Historia */
.history-section {
  padding: 5rem 0;
}

.history-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.history-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: rgba(0, 255, 0, 0.2);
}

.history-item {
  position: relative;
  padding: 2rem;
  margin-bottom: 3rem;
}

.history-item:nth-child(even) {
  flex-direction: row-reverse;
}

.history-date {
  color: #00ff00;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.history-content {
  color: white;
  font-size: 1.4rem;
  line-height: 1.6;
}

.history-marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #00ff00;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.history-item:nth-child(odd) .history-marker {
  left: -10px;
}

.history-item:nth-child(even) .history-marker {
  right: -10px;
}

.historia-section {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 1)),
              url('../../imagenes/gustavo.png');
  background-size: 35%;
  background-position: left ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 100px;
  bottom: 0px;
}

.historia-content {
  position: relative;
  z-index: 1;
  padding: 4rem;
  max-width: 600px;
  margin: 0 auto;
}

.historia-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #00ff00;
}

.historia-text {
  color: white;
  line-height: 1.8;
  font-size: 1.1rem;
}

.social-links-container {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
}
